/bin/
/cmd/*/cmd
*.test
*.out
*.prof

/servers/celeris/celeris
/servers/chi/chi
/servers/echo/echo
/servers/fasthttp/fasthttp
/servers/fiber/fiber
/servers/gin/gin
/servers/hertz/hertz
/servers/iris/iris
/servers/stdhttp/stdhttp

go.work
go.work.sum
.magefile/

/results/*

/tmp-staging/
servers/_docker/**/*.tar

.idea/
.vscode/
.DS_Store
